//BEGIN :: Font stack

$fontStack                  : "Open Sans";

//END :: Font stack

//BEGIN :: Color Coding
$colorLightGrey             : #ECECEC;
$colorDarkGrey              : #686868;
$colorBlue                  : #29487d;
$colorWhite                 : #ffffff;
$colorPurple                : #41045A;
$colorLightPurple           : #9979A7;
//END :: Color Coding

//BEGIN :: Color Coding with opacity
$colorBlackWithOpacity      :  rgba(0,0,0,0.5);
//END :: Color Coding with opacity
